<% include ../partials/header %>
<div class="content">
    <div class="container-fluid">
        <div class="col-lg-9 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Mude sua senha <%=user.username%></h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                    <form action="/changePassword?_method=PUT" method="POST">
                        <inpyt type="hidden" name="username" value="<%=user.username%>">
                        <div class="row" style="width: 30%; margin: 25px auto;">
                            Senha atual
                                    <input class="form-control" type="password" name="oldPassword" placeholder="Qual sua senha atual?">
                        </div>
                        <div class="row"  style="width: 30%; margin: 25px auto;">
                            Nova senha
                                    <input class="form-control" type="password" name="newPassword" placeholder="Nova Senha!">
                        </div>
                        <div  class="row" style="width: 30%; margin: 25px auto;">
                            <button class="btn btn-lg btn-primary btn-block">Alterar Senha</button>
                        </div>
                    </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>      