<% include partials/header %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info card-header-lancamento">
            <h4 class="card-title">Grupos / Sub-grupos</h4>
            <p class="card-category">Escolha um tipo, selecione o grupo (se existir) e salve</p>
          </div>
          <div class="card-body">
            <form action="/subgroup" method="POST">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  <select class="form-control" id="groupList" name="subGroup[group]">
                    <option value="" selected>Tipo de Despesa</option>
                    <option value="fixa">Fixa</option>
                    <option value="variavel">Variável</option>
                  </select>  
                </div>  
                <div class="col-md-2">
                  <input class="form-control" type="text" name="subGroup[description]" placeholder="Descrição">
                </div> 
                <div class="col-md-3">
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="typeofGroup" id="exampleRadios1" value="group" checked>
                      Grupo
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input " type="radio" name="typeofGroup" id="exampleRadios2" value="subGroup">
                      Sub-grupo
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <select class="form-control" id="parentGroupList" disabled>
                    <option selected>Escolha o grupo</option>
                    <option value="fixa">Fixa</option>
                    <option value="variavel">Variável</option>
                  </select>  
                </div>  
                <div class="col-md-2">
                  <button class="btn btn-success">Incluir</button>
                </div>
              </div>
            </div> 
            </form>  
          </div>
        </div>
      </div>
    </div>
    <!-- LISTA DE GRUPOS E SUB-GRUPOS -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Despesas:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#grupoFixas" data-toggle="tab">
                      <i class="material-icons">autorenew</i> Fixas
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#messages" data-toggle="tab">
                      <i class="material-icons">call_split</i> Variáveis
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="grupoFixas">
                <table class="table">
                  <tbody>
                    <% subgroupsFixa.forEach(function(subgroup) {  %>
                    <tr>
                      <!--USAR ESSA OPÇÃO PARA APAGAR NO FUTURO td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td -->
                      <td>
                        <%=subgroup.description%>
                        <% if(typeof subgroup.subgroupsInside !== 'undefined' && subgroup.subgroupsInside.length > 0){ %>
                        <% subgroup.subgroupsInside.forEach(function(subgroupInside) {  %>
                          <div class="stats">
                            <i class="material-icons">subdirectory_arrow_right</i><%=subgroupInside.description%>
                          </div>
                          <% }); %>
                        <% } %>
                      </td>

                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                          <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="messages">
                <table class="table">
                  <tbody>
                    <% subgroupsVariaveis.forEach(function(subgroup) {  %>
                    <tr>
                      <!--USAR ESSA OPÇÃO PARA APAGAR NO FUTURO td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td -->
                      <td>
                        <%=subgroup.description%>
                        <% if(typeof subgroup.subgroupsInside !== 'undefined' && subgroup.subgroupsInside.length > 0){ %>
                          <div class="stats">
                            <i class="material-icons">subdirectory_arrow_right</i>
                          </div>
                          <%=subgroup.subgroupsInside%>
                        <% } %>
                      </td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                          <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>      