<% include partials/header_html.ejs %>

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white" color-on-scroll="100" id="sectionsNav">
  <div class="container justify-content-center">
    <div class="navbar-wrapper ">
        <a class="navbar-brand" href="#"><img src="http://k2investimento.com.br/novo/images/logo.png" alt="K2 Investimento"></a>
      </div>
  </div>
</nav>

<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('/images/bgIntroK2.jpg'); background-size: cover; background-position: top center;">
      <div class="container login-k2">
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto" style="padding-top: 15%; z-index:1 !important">
            <div class="card card-nav-tabs text-center">
              <form class="form" method="POST" action="/login">
              <div class="card-header card-header-info">
                Login
              </div>
              <div class="card-body">
                <h4 class="card-title">Seja bem-vindo</h4>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" name="username" class="form-control" placeholder="E-mail...">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password"  name="password" class="form-control" placeholder="Senha...">
                </div>
                <button class="btn btn-info">ENTRAR</button>
              </div>
              </form>
              <!-- div class="card-footer text-muted">
                2 days ago
              </div -->
            </div>          
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made by 
            <a href="https://www.k2investimento.com.br" target="_blank">K2 Investimentos</a>.
          </div>
        </div>
      </footer>
  </div>
</div>

  <% include partials/footer_js %>
</body>

</html>