<% include ../../partials/header %>
<div class="content">
  <div class="container-fluid">
    <!-- START NEW ENTRY -->
    <div class="row">
      <div class="card">
       <div class="card-header card-header-icon card-header-danger">
          <div class="card-icon">
            <i class="material-icons">attach_money</i>
          </div>
          <h4 class="card-title ">Despesas Destaques</h4>
        </div>
        <div class="card-body table-hover">
          <form action="/entry" method="POST">
            <div class="row has-danger">
              <div class="col-md-5 ">
                <div class="row">
                  <div class="col-md-3 col-lg-3 mb-3" style="visibility: hidden;display: none">
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                          <!-- label class="btn btn-outline-success btnApontamento">
                            <i class="material-icons">attach_money</i>
                            <input type="radio" name="entry[typeOfEntry]" id="option1" value="in" autocomplete="off">
                          </label -->
                          <label class="btn btn-secondary btn-outline-danger active btnApontamento">
                            <i class="material-icons">compare_arrows</i>
                            <input type="radio" name="entry[typeOfEntry]" id="option2" value="out" autocomplete="off" checked>
                          </label>
                        </div>
                  </div>
                  <div class="col-md-9 col-lg-9 mb-3">
                    <label class="sr-only" for="txtDescricao">Insira aqui a descrição</label>
                    <div class="input-group input-group-sm">
                      <input type='text'
                       placeholder='Insira aqui a descrição'
                       class='form-control input-very-small-k2'
                       data-url='/subgroup/groups/json'
                       data-search-in='["description","descGrupo","subtipo"]'
                       data-visible-properties='["description", "descGrupo", "subtipo"]'
                       data-group-by='descGrupo'
                       data-selection-required='true'
                       data-focus-first-result='true'
                       data-min-length='1'
                       data-value-property='*'
                       data-text-property='{description}, {descGrupo}'
                       data-search-contain='true'
                       id='txtDescricao'
                       name='entry[description]'>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIM PRIMEIRO GRUPO -->
              <!-- SEGUNDO GRUPO -->
              <div class="col-md-4">
                <div class="row no-gutters">
                  <div class="col-lg-6 mb-3">
                    <div class="input-group">
                      <select name="entry[paymentMethod]" class="form-control" id="tipoApontamento">
                        <option>Pagou com...</option>
                        <optgroup label="Pessoa Física">
                          <%Object.keys(paymentMethod).filter(key => paymentMethod[key].indexOf("PF") === 0)
                            .forEach(function(pfCode){ %>
                          <option value="<%=pfCode%>"><%=paymentMethod[pfCode]%></option>
                          <% }); %>
                        </optgroup>
                        <optgroup label="Pessoa Jurídica">
                          <%Object.keys(paymentMethod).filter(key => paymentMethod[key].indexOf("PJ") === 0)
                            .forEach(function(pfCode){ %>
                          <option value="<%=pfCode%>"><%=paymentMethod[pfCode]%></option>
                          <% }); %>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-3">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text">R$</span>
                        </div>
                        <label class="sr-only" for="inlineFormInputGroup2">Insira aqui o valores</label>
                        <input type="text" name="entry[valueOf]" class="form-control money"  id="inlineFormInputGroup2" placeholder="#0,00">
                      </div>
                  </div>
                </div>
              </div>
              <!-- FIM SEGUNDO -->
              <!-- TERCEIRO GRUPO -->
              <div class="col-md-3 col-sm-6">
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-8 mb-3">
                      <label class="sr-only" for="inlineDatepicker">Escolha uma data</label>
                      <div class="input-group ">
                        <input autocomplete="off" type="text" name="entry[createdIn]" class="form-control form-control-sm datepicker" id="inlineDatepicker" placeholder="Data">
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <button class="col-sm-12 btn btn-sm" id="btnAddEntry"><i class="fa fa-plus-square"></i></button>
                    </div>
                </div>
              </div>
              <!-- FIM TERCEIRO -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END NEW ENTRY -->
    
  </div>
</div>
<% include ../../partials/footer %>

<script type="text/javascript">
  $(document).ready(function() {
  $('.setup-month-icon').on('click', function () {
    $("#setupMonth").collapse('show');
    $(this).hide(200);
  });

  $('#setupMonth').on('hidden.bs.collapse', function () {
    $(".setup-month-icon").show(200);
  })


  $( function() {
      $( "#inlineDatepicker" ).datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        dateFormat: "dd/mm/yy",
        showOn: "both",
        buttonImage: "",
        buttonText: "<i class='fa fa-calendar'></i>",
        buttonImageOnly: false,
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
      });
    } );

  $('#txtDescricao').flexdatalist({
       searchContain: true,
       textProperty: '{description} / {subtipo} / {descGrupo}',
       valueProperty: '*',
       minLength: 1,
       focusFirstResult: true,
       selectionRequired: true,
       searchDelay: 300,
       groupBy: 'descGrupo',
       visibleProperties: ["description","descGrupo","subtipo"],
       searchIn: ["description","descGrupo","subtipo"],
       normalizeString: true,
       url: '/subgroup/groups/json',
       removerAcentos: true,
       noResultsText: 'É necessário <a href="/subgroup">incluir</a> esse grupo/subrupo'
  });

  $('#txtDescricao').on('after:flexdatalist.search', function(event, keyword, data, matchedItems) {
      if(matchedItems.length === 0){
        $("#btnAddEntry").removeClass("btn-success");
        $("#btnAddEntry").addClass("btn-disable").prop( "disabled", "disabled" );
      }else{
        $("#btnAddEntry").addClass("btn-success");
        $("#btnAddEntry").removeClass("btn-disable").prop( "disabled", false );
      }
  });

  $('.btnApontamento').on('click', function() { 
    if($(this).find("input").val().trim()==="in"){
      $( "#tipoApontamento" ).addClass( "disabled").prop( "disabled", "disabled" );
      $( "#tipoApontamento" ).hide(200, function(){
        $(this).parent().parent().removeClass("col-lg-6");
        $(this).parent().parent().next().removeClass("col-lg-6").addClass("col-lg-12");
      }); 
    } else {
      $( "#tipoApontamento" ).removeClass( "disabled").prop( "disabled", false );
      $( "#tipoApontamento" ).parent().parent().addClass("col-lg-6");
      $( "#tipoApontamento" ).parent().parent().next().removeClass("col-lg-12").addClass("col-lg-6");
      $( "#tipoApontamento" ).show(200);
    }
  });

  $("form select[name='monthConfig[dateSetup]'").change(function(){  
     k2App.fillEditMonthConfigForm($(this).val(), $(this).parents('form')); 
  });

  //Salva separado
  $(".btn-save-goal").on("click", function(){
    $(this).parents("tr").find(".has-danger").each(function(){
      var idSubGroup = $(this).find("input[type='hidden']").val();
      var valueOf = $(this).find("input[type='text']").val();

      var url = "/goal/" + idSubGroup + $("#formUpdateMonthConfig").attr("action").split("/goal")[1];
      $("#formUpdateGoal").attr("action",url);
      $("#formUpdateGoal input").attr("value",valueOf)
      $("#formUpdateGoal").submit();
    });
  });

  //Salva favoritos
  $(".btn-favorite-goal").on("click", function(){
    $(this).parents("tr").find(".has-danger").each(function(){
      var idSubGroup = $(this).find("input[type='hidden']").val();
      var url = "/goal/" + idSubGroup + $("#formUpdateMonthConfig").attr("action").split("/goal")[1];
      url = url.replace("edit","favorite");
      $("#formUpdateGoal").attr("action",url);
      $("#formUpdateGoal").submit();
    });
  });

  //###################################
  // GENERAL
  //###################################


  $(".money").maskMoney({prefix:' ', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});

  $(window).keydown(function(event){
    if( (event.keyCode == 13) /*&& (validationFunction() == false)*/ ) {
      event.preventDefault();
      return false;
    }
  });
});

</script>