      <footer class="footer">
       
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
   <% include footer_js %>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      k2App.initDashboardPageCharts();

    });
  </script>
</body>

</html>